<header class="mx-auto max-w-2xl">
  <div>
    <p class="text-center"><b>the vault</b></p>
  </div>
</header>
<main>
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
