
<.header>Welcome to the vault.</.header>

<p>Enter your Inkfish team #.</p>

<form action="/step2">
  <div class="m-4">
    <input type="text" name="team" />
  </div>
  <p><.button id="form-submit">Submit</.button></p>
</form>


