
<form id="pin-form" action="/pin">
  <p>Welcome to the vault.</p>
  <p>Enter the 4 digit admin PIN.</p>
  <div class="p-2">
    <input type="text" name="pin" />
  </div>
  <p><.button id="pin-form-submit">Check</.button></p>
</form>
